.main-layout-header {
  padding: 16px;
  height: 80px;
  border-bottom: 2px solid var(--yellow);
  display: flex;
  align-items: center;
}

.main-layout-header--home {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2rem;
  color: var(--yellow);
  font-weight: bold
}

.main-layout-header--home svg {
  font-size: 3rem;
}