.button {
  height: 36px;
  padding: 0 20px;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease-in-out .05s;
}

.button-solid-primary {
  background-color: var(--yellow);
}

.button:hover {
  filter: brightness(95%);
}

.button-outline-primary {
  background: transparent;
  border: 1px solid var(--yellow);
}

.button-rounded-md {
  border-radius: var(--border-radius-md);
}

.button-rounded-none {
  border-radius: 0;
}