.tabs__navigator {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.tabs__navigator .tabs__navigator-item {
  border-right: none;
}

.tabs__navigator-item:first-of-type {
  border-top-left-radius: var(--border-radius-md);
  border-bottom-left-radius: var(--border-radius-md);
}

.tabs__navigator-item:last-of-type {
  border-top-right-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
  border-right: 1px solid var(--yellow);
}

.tabs__content {
  padding: 8px 0;
}

.tabs__navigator-item--active {
  font-weight: 500;
}